# Musab Kanat Izgara Environment Variables Configuration
PUBLIC_DOMAIN=https://musabkanat.com
PUBLIC_SITE_NAME="Musab Kanat Izgara"
PUBLIC_CONTACT_PHONE="+902562194353"
PUBLIC_WHATSAPP_PHONE="+905552194353"
